{% extends 'base2.html' %}

      {% load static %}
        <link href='{% static "fullcalendar.min.css" %}' rel='stylesheet' />
        <link href='{% static "fullcalendar.print.min.css" %}' rel='stylesheet' media='print' />
        <script src='{% static "lib/moment.min.js" %}'></script>
        <script src='{% static "lib/jquery.min.js" %}'></script>
        <script src='{% static "fullcalendar.js" %}'></script>
        <script src='{% static "locale-all.js" %}'></script>
        <script>
            $(document).ready(function() {
                $('#calendar').fullCalendar({
                locale: "es",
                editable: false,
                weekNumbers: false,
                eventLimit: true, // allow "more" link when too many events
                events: [
                    {% for tarea in tareas %}
                        {
                            title  : '{{ tarea.titulo }}',
                            start  : '{{ tarea.fechaInicio }}',
                            url    : '{% url 'tarea' %}?id={{ tarea.id }}'
                        },
                    {% endfor %}
                ]
                });
            });
        </script>



{% block content %}
<div class="container">
    <h1>Calendario</h1>
    <div id='calendar'></div>
</div>

<div class="col-5">
  <h2 align="center">Listado </h2>
  <hr>

  <table style="width:100%">
   <tr>
     <th>Título</th>
     <th>Descripción</th>
     <th>Opciones</th>
   </tr>
   {% for tarea in tareas %}
   <tr>
     <td>{{tarea.titulo}}</td>
     <td>{{tarea.descripcion}}</td>
     <td>
    <hr>
        <a class="btn btn-info" href="{% url 'detalleTarea' tarea.id %}">Detalle</a>
        <a class="btn btn-warning" href="{% url 'editarTarea' tarea.id %}">Editar</a>
        <a class="btn btn-danger" href="{% url 'eliminarTarea' tarea.id %}">Eliminar</a>
    </td>

   </tr>
  {% endfor %}

 </table>



</div>


{% endblock content %}
