{% extends 'base.html' %}

{% load static %}

{% block header %}
        <link href='{% static "fullcalendar.min.css" %}' rel='stylesheet' />
        <link href='{% static "fullcalendar.print.min.css" %}' rel='stylesheet' media='print' />
        <script src='{% static "lib/moment.min.js" %}'></script>
        <script src='{% static "lib/jquery.min.js" %}'></script>
        <script src='{% static "fullcalendar.js" %}'></script>
        <script src='{% static "locale-all.js" %}'></script>
        <script>
            $(document).ready(function() {
                $('#calendar').fullCalendar({
                locale: "es",
                editable: true,
                weekNumbers: true,
                eventLimit: true, // allow "more" link when too many events
                events: [
                    {% for t in tareas %}
                        {
                            title  : "{{ t.titulo }}",
                            start  : '{{ t.fechaInicio }}',
                            end    : '{{ t.fechaTermino }}',
                            url    : '{% url 'detalleTarea' t.id %}'
                        },
                    {% endfor %}
                ]
                });
            });
        </script>
        <style>
            #calendar {
                max-width: 900px;
                margin: 0 auto;
                padding: 0;
                font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
            }
        </style>

{% endblock header %}

{% block content %}
<div class="container">
    <h1>Calendario</h1>
    <div id='calendar'></div>


    {% for t in tareas %}

          {{ t.titulo }}
          <br>

    {% endfor %}
</div>
{% endblock content %}
