{% extends 'baseConectado.html' %}

{% block content %}

    {% csrf_token %}

    <div>
        <div class="row justify-content-md-center">

            <div class="col-md-auto">
                <label>Titulo:</label><br>
                <h5>{{ tarea.titulo}}</h5><br>
                <label>Descripción:</label><br>
                <h5>{{ tarea.descripcion}}</h5><br>
                <label>Usuario:</label>
                <h5>{{ tarea.usuario}}</h5><br>
                <label>Tipo:</label>
                <h5>{{ tarea.tipo}}</h5><br>
                <label>Estado:</label>
                <h5>{{ tarea.estado}}</h5><br>
                <label>Fecha de Inicio:</label>
                <h5>{{ tarea.fechaInicio}}</h5><br>
                <label>Fecha de Término:</label>
                <h5>{{ tarea.fechaTermino}}</h5><br>
            </div>

        </div>

    </div>

    <br>

    <div>
        <div class="row justify-content-md-center">

            <div class="col-md-auto">
                <a href="{% url 'editarTarea' tarea.id %}">
                    <button type="button" class="btn btn-primary" name="button">
                            Editar
                    </button>
                </a>

            </div>

        </div>

    </div>


{% endblock %}
